---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Ayuda from "../components/Ayuda.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import TeEscucho from "../components/TeEscucho.astro";
import TerapiaOnline from "../components/TerapiaOnline.astro";
import OfficeVisual from "../components/OfficeVisual.astro";
import "../styles/global.css";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Ayuda />
    <Services />
    <TerapiaOnline />
    <TeEscucho />
    <OfficeVisual />
    <Testimonials />
    <Contacto />
  </main>
  <Footer />
</Layout>
