---

---

<footer>
  <a href={import.meta.env.BASE_URL} class="footer-logo">Mario Catena</a>
  <div class="footer-links">
    <a href={`${import.meta.env.BASE_URL}/politica-privacidad`}
      >Política de Privacidad</a
    >
    <a href={`${import.meta.env.BASE_URL}/politica-privacidad#aviso-legal`}
      >Aviso Legal</a
    >
    <a href={`${import.meta.env.BASE_URL}#contacto`}>Contacto</a>
  </div>
  <span class="footer-copy"
    >© {new Date().getFullYear()} Mario Catena Psicología · Todos los derechos reservados</span
  >
</footer>
